.home-page {
    margin-right: 50px;
    margin-left: 50px;
}

.room-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 100%;
    /* margin-left: 30px;
    margin-right: 30px; */
}


.room-nav-link {
    text-decoration: none;
    color: black;
}

.map-link {
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 50%;
    text-decoration: none;
}

.map-btn  {
        cursor: pointer;
        border-radius: 25px;
        display: block;
        width: 100%;
        margin: 15px auto;
        padding: 10px 30px;
        border: 0;
        color: white;
        outline: none;
        background-color: red;
    
    }
