.nav-menu-profile {
    /* float: right; */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
    cursor: pointer;
    /* grid-area: 'c';
    margin-right: 25px; */
}

.icon {
    object-fit: contain;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    background-color: white;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

.nav-center {
    display: flex;
    border-radius: 30px;
    border: 1px solid lightgray;

    align-items: center;
    flex: 1;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    max-width: fit-content;
    margin-left: 55px;
}

.nav-right {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    margin-right: 50px;
}

.search-bar {
    margin-right: 5px;
    border: none;
}

.search-bar:focus {
    outline: none;
}

.nav-right > p,
.fa-globe
{
    margin-right: 15px;
}

.fa-magnifying-glass {
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 7px;
}

.fa-user {
    padding-left: 5px;
}

.dropdown-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 58px;
    right: 5px;
    border: 0px solid black;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
    margin: 10px;
    box-shadow: 10px 5px 5px 5px lightgray;
    z-index: 100;;
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 50px;
}

.create-room-button {
    border-radius: 10px;
    border: none;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
}

.dropdown-link {
    padding: 5px;
    text-decoration: none;
    color: black;
    
}

.profile-dropdown {
    list-style: none;
    padding: 5px;
}

.profile-dropdown > li {
    padding: 2px;
}

.search-submit-btn {
    border: none;
    background-color: white;
    cursor: pointer;
}
