td.centered {
    text-align: center;
    padding: 10px;
  }


  .associated-bookings {
    padding: 10px;
    margin: 15px;
  }

  
  .booking-btn {
    cursor: pointer;
    box-shadow: 00 20px 10px lightgray;
    border-radius: 25px;
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 10px 30px;
    border: 0;
    outline: none;
    background-color: red;
    text-align: center;
}
