.room-info {
    padding: 25px;
    border-radius: 15px;
    margin: 15px;
    float: right;
    border: 1px solid gray;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.room-photo {
  display: flex
}

/* .right {
  position: absolute;
  right: .2em;
  top: 3em
} */

.profile-pic {
  align-items: center;
  background-color: #ff5a5f;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 1.75em;
  font-weight: 700;
  justify-content: center;
  width: 2em;
  height: 2em;
}

.room-desc-separator {
  border-bottom: 1px solid lightgray;
  margin: 2em 0;
  max-width: 100%;
}

.room-desc-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.room-desc {
  display: flex;
  flex-direction: column;
}

.room-description-booking {
  display: grid;
  grid-template-columns: 3fr 1fr;
  line-height: 1.5em;
}



.room-page {
    width: 80%;
    padding-top: 50px;
    margin: auto;
}

.info-image > img {
    width: 100%;
    object-fit: fill;
    min-width: 350px;
    min-height: 250px;
    max-width: 550px;
    max-height: 450px;

}

.title {
    font-size: 1.75em;
    font-weight: 600;
    margin-top: 1em;
}

  
  .room-rating-display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .85em;
  }
  
  .room-rating-display > p {
    margin-right: .25em;
  }
  
  .booking__display-rating-amount {
    font-weight: 500;
    text-decoration: underline;
  }
  
  .booking__display-rating-text {
    font-weight: 500;
  }
  
  .listing__desc-bookingcard {
    display: grid;
    line-height: 1.5em;
    grid-template-columns: 3fr 1fr;
  }
  
  .rating__first-text {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
    padding: .25em;
    border-radius: .15em;
  }
  
  .rating__first-text:hover {
    background-color: rgb(235, 235, 235);
  }

.listed-images {
    display: flex;
    flex-direction: column;
}

.images-field {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.room-block {
    /* border: 0px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    transition: transform 100ms ease-in;
    cursor: pointer;
    box-shadow: 10px 5px 5px 5px lightgray;
    margin-right: 40px;
    margin-left: 40px;
    width: auto; */
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 20px;
}

.card-block:hover {
    transform: scale(1.05);
}

.center-image {
    width: 100%;
    min-width: 300px;
    height: auto;
    margin: auto;
}

.brew-details-block {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 33%;
    min-width: 200px;

}

.edit-room {
    margin: 30px;
}   

.description-tag {
    margin: 30px;
}

.room-btn {
    cursor: pointer;
    box-shadow: 00 20px 10px lightgray;
    border-radius: 25px;
    display: block;
    width: 80%;
    margin: 15px auto;
    padding: 10px 30px;
    border: 0;
    outline: none;
    background-color: red;
}

.lower-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    padding: 25px;
}

.other-info {
    float: right;
}
