.room-info {
    padding: 25px;
    border-radius: 15px;
    border: 1;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.room-image {
    width: 100%;
    object-fit: fill;
    min-width: 450px;
    min-height: 250px;
    max-width: 350px;
    max-height: 350px;

}

.room-block {
    border: 0px solid black;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
    justify-content: center;
    box-shadow: 10px 5px 5px lightgray;
    margin-right: 30px;
    margin-left: 30px;

}

.card-block:hover {
    transform: scale(1.05);
}
