.header-404 {
    margin-top: 25px;
}

.error-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 55px;
    padding: 20px;
}
.error-nav {
    cursor: pointer;
    box-shadow: 00 20px 10px lightgray;
    border-radius: 25px;
    display: block;
    width: 20%;
    margin: 15px auto;
    padding: 10px 30px;
    border: 0;
    outline: none;
    background-color: red;
    text-decoration: none;
    color: black;
    text-align: center;
}

 .error-message {
    margin: 20px;
}
